certifi==2024.6.2
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.0
GDAL==3.9.0
geopandas==1.0.0
idna==3.7
importlib_resources==6.4.0
kiwisolver==1.4.5
matplotlib==3.9.0
networkx==3.2.1
numpy @ file:///D:/bld/numpy_1718615140319/work/dist/numpy-2.0.0-cp39-cp39-win_amd64.whl#sha256=8ea5fe16b5620ca5d43e2b90e4c18b404bb1e1d9ad4bf8afafe5a0b34a1a2ab1
osmnx==1.9.3
packaging==24.1
pandas==2.2.2
pillow==10.3.0
pygame==2.5.2
pyogrio==0.9.0
pyparsing==3.1.2
pyproj==3.6.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
shapely==2.0.4
six==1.16.0
tzdata==2024.1
urllib3==2.2.2
zipp==3.19.2
